################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/uge-x/v16
/bin/data
/bin/obj
/bin/zlibwapi_x64.lib
/bin/zlibwapi_x64.dll
/bin/wzl.lib
/bin/wzl.exp
/bin/uge.pdb
/bin/uge.lib
/bin/uge.ilk
/bin/uge.exp
/bin/uge.dll
/bin/game02.pdb
/bin/game02.lib
/bin/game02.ilk
/bin/game02.exp
/bin/game02.exe
/bin/game.lib
/bin/game.exp
/bin/wzl.pdb
/bin/wzl.ilk
/bin/wzl.dll
/bin/game.pdb
/bin/game.ilk
/bin/game.exe
