# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Project
/.vs/uge/v16
/uge/Debug
/uge_tut01/Debug
/uge_tut01/x64/Debug
/bin/uge_tut01.pdb
/bin/uge_tut01.ilk
/bin/uge.pdb
/bin/uge.ilk
/bin/uge.exp
/uge_tut02/Debug
/release
/uge_tut01/x64/Release
/uge_tut01/Release
/uge/x64/Release
/uge/Release
/bin/wzl.pdb
/bin/wzl.ilk
/bin/wzl.exp
/bin/uge_tut01.exp
/wzl/x64/Debug
